[Unit]
Description=change led-strip to specific color during winter month
After=network-online.target
Wants=network-online.target

[Service]
User=root
Group=root
WorkingDirectory= /root/seasonal_led_script
ExecStart=/root/seasonal_led_script/.venv/bin/python /root/seasonal_led_script/main.py 240 3 252 100 /root/logs/
NoNewPrivileges=true
ProtectSystem=strict
ReadWritePaths=/root/logs/
PrivateTmp=true
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
